/* ---GLOBAL--- */
/* three dashes on each side of title = large category eg ---NAVIGATION---
    one dash on each side of title = sub-category eg -PRODUCT GALLERY- */

html {
    font-size: 16px;
    font-family: 'Kumbh Sans', Arial, sans-serif;
    display: flex;
    justify-content: center;
}

body {
    max-width: 1200px;
    margin: 0;
}

.thumbnail--selected {
    opacity: 0.5;
    border: 3px solid hsl(26, 100%, 55%) !important;
}

.thumbnail--selected:hover {
    cursor: default !important;
}

/* Clear default styles */

button {
    font-family: inherit;
    background-color: hsla(0, 0%, 100%, 0);
    border: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

/* ---NAVIGATION--- */

.nav {
    display: grid;
    grid-template: 1fr / repeat(12, 1fr);
    border-bottom: 1px solid hsl(220, 14%, 75%);
    height: 100px;
    margin-bottom: 70px;
}

.nav__hamburger-btn,
.nav__close-btn,
.nav__dark-overlay {
    display: none;
}

.nav__logo {
    grid-area: 1 / 1 / 2 / 3;
    margin: auto 0;
    padding-left: 10px;
}

.nav__links {
    grid-area: 1 / 3 / 2 / 11;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: hsl(219, 9%, 45%);
    font-size: 1rem;
}

.nav__link {
    display: flex;
    align-items: center;
    margin: 0 15px;
    height: 96px;
    border-bottom: 4px solid hsla(0, 0%, 100%, 0);
}

.nav__link:hover {
    border-bottom: 4px solid hsl(26, 100%, 55%);
    color: hsl(220, 13%, 13%);
}

.nav__cart {
    grid-area: 1 / 11 / 2 / 12;
    margin: auto auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}

.nav__cart-img {
    grid-area: 1 / 1 / 3 / 3;
    margin: auto auto;
    height: 20px;
    padding: 15px;
    color: hsl(219, 9%, 45%);
    z-index: 1;
}

.nav__cart-img path {
    fill: currentColor;
}

.nav__cart-img:hover {
    color: hsl(220, 13%, 13%);
}

.nav__item-count {
    grid-area: 1 / 2 / 2 / 3;
    background-color: hsl(26, 100%, 55%);
    height: 0.7rem;
    width: 1rem;
    padding: 2px 5px;
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-size: 0.6rem;
    text-align: center;
    z-index: 2;
}

.nav__avatar {
    grid-area: 1 / 12 / 2 / 13;
    height: 50px;
    margin: auto auto;
    border: 3px solid hsla(0, 0%, 100%, 0);
    border-radius: 30px;
    transition: border ease-in-out 0.1s;
}

.nav__avatar:hover {
    border: 3px solid hsl(26, 100%, 55%);
}

.nav__link:hover,
.nav__cart:hover,
.nav__avatar:hover {
    cursor: pointer;
}

.nav__link,
.nav__cart-img {
    transition: all ease-in-out 0.1s;
}

/* ---CART--- */

.cart--closed {
    top: -300px !important;
    opacity: 0;
    transform: scale(0.3);
}

.cart-container--closed {
    top: -340px !important;
}

.cart-container {
    width: 1200px;
    height: 340px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 0;
    transition: top ease-out 0.3s;
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 360px;
    height: 250px;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
    box-shadow: hsla(0, 0%, 0%, 0.11) 7px 15px 30px, hsla(0, 0%, 0%, 0.11) -7px 15px 30px;
    z-index: 8;
    transition: top ease-out 0.3s, opacity ease-out 0.2s, transform ease-out 0.3s;
}

.cart__title {
    width: 320px;
    padding: 20px;
    font-weight: 700;
    font-size: 1rem;
    margin: 0;
    border-bottom: 1px solid hsl(220, 14%, 75%);
}

.cart__alt-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1rem;
    font-weight: 700;
    color: hsl(219, 9%, 45%);
}

.cart__item {
    width: 320px;
    padding: 30px 20px;
}

.cart__item-img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 20px;
}

.cart__price {
    margin-top: 7px;
}

.cart__item-name,
.cart__item-price,
.cart__item-amount {
    color: hsl(219, 9%, 45%);
    font-size: 1rem;
}

.cart__total-price {
    font-weight: 700;
    font-size: 1rem;
    color: hsl(220, 13%, 13%);
    margin-left: 5px;
}

.cart__remove-btn {
    float: right;
    position: relative;
    top: 15px;
    color: hsl(220, 14%, 75%);
    transition: color ease-in-out 0.1s;
}

.cart__remove-btn path {
    fill: currentColor;
}

.cart__remove-btn:hover {
    cursor: pointer;
    color: hsl(220, 13%, 13%);
}

.cart__checkout-btn {
    height: 50px;
    width: 320px;
    background-color: hsl(26, 100%, 55%);
    font-weight: 700;
    font-size: 1rem;
    color:hsl(0, 0%, 100%);
    border-radius: 10px;
    margin-bottom: 20px;
    transition: background-color ease-in-out 0.1s;
}

.cart__checkout-btn:hover {
    cursor: pointer;
    background-color: hsl(26, 97%, 72%);
}

/* ---LIGHTBOX--- */

.lightbox {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 0.75);
    z-index: 11;
}

.lightbox__large-img-container {
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(8, 1fr);
}

.lightbox__img-large {
    grid-area: 2 / 2 / 13 / 8;
    width: 500px;
    height: 500px;
    border-radius: 20px;
}

.lightbox__close-btn {
    grid-area: 1 / 7 / 2 / 8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30px;
    color: hsl(0, 0%, 100%);
    margin: 0 0 0 auto;
}

.lightbox__close-btn path {
    fill: currentColor;
}

.lightbox__close-btn:hover {
    cursor: pointer;
    color: hsl(26, 100%, 55%);
    transition: color ease-in-out 0.1s;
}

.lightbox__prev-btn {
    grid-area: 7 / 1 / 8 / 3;
}

.lightbox__next-btn {
    grid-area: 7 / 7 / 8 / 9;
}

.lightbox__prev-btn,
.lightbox__next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:hsl(0, 0%, 100%);
    border-radius: 40px;
    width: 45px;
    height: 45px;
    margin: auto auto;
    color: hsl(220, 13%, 13%);
    z-index: 3;
    transition: color ease-in-out 0.1s;
}

.lightbox__prev-btn path,
.lightbox__next-btn path {
    stroke: currentColor;
}

.lightbox__prev-btn:hover,
.lightbox__next-btn:hover {
    cursor: pointer;
    color: hsl(26, 100%, 55%);
}

.lightbox__thumbnails {
    display: flex;
    justify-content: space-between;
    width: 500px;
    margin-top: 20px;
}

.lightbox__thumbnail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100px;
    border-radius: 13px;
    background-color: hsl(0, 0%, 100%);
}

.lightbox__thumbnail {
    width: 100%;
    height: auto;
    border-radius: 15px;
    border: 3px solid hsla(0, 0%, 100%, 0);
    transition: opacity ease-in-out 0.1s; 
}

.lightbox__thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* ---PRODUCT SECTION--- */

.section-product {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr)
}

/* -PRODUCT GALLERY- */

.section-product__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-product__prev-btn,
.section-product__next-btn {
    display: none;
}

.section-product__img-large {
    cursor: pointer;
    width: 75%;
    border-radius: 15px;
    margin: 0 auto 30px auto;
}

.section-product__thumbnails {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.section-product__thumbnail {
    width: 20%;
    border-radius: 15px;
    border: 3px solid hsla(0, 0%, 100%, 0);
    transition: opacity ease-in-out 0.1s;
}

.section-product__thumbnail:hover {
    cursor: pointer;
    opacity: 0.5;
}

/* -PRODUCT INFO- */

.section-product__info-container {
    width: 80%;
    display: grid;
    grid-template: repeat(10, 1fr) / repeat(10, 1fr);
}

.section-product__manufacturer {
    grid-area: 2 / 1 / 3 / 11;
    display: flex;
    align-items: center;
    color: hsl(26, 100%, 55%);
    text-transform: uppercase;
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin: 0;
    padding: 0;
}

.section-product__product-name {
    grid-area: 3 / 1 / 5 / 11;
    font-size: 2.7rem;
    font-weight: 700;
    color: hsl(220, 13%, 13%);
    margin: 0;
    padding: 0;
}

.section-product__product-info {
    grid-area: 5 / 1 / 7 / 11;
    font-size: 1rem;
    color: hsl(219, 9%, 45%);
    line-height: 1.5rem;
}

.section-product__price {
    grid-area: 7 / 1 / 8 / 3;
    color: hsl(220, 13%, 13%);
    font-weight: 700;
    font-size: 1.7rem;
    margin: auto 0;
}

.section-product__discount {
    grid-area: 7 / 3 / 8 / 4;
    font-weight: 700;
    font-size: 1rem;
    color:hsl(26, 100%, 55%);
    background-color: hsl(25, 100%, 94%);
    padding: 3px 7px;
    border-radius: 5px;
    margin: auto auto;
}

.section-product__prev-price {
    grid-area: 8 / 1 / 9 / 2;
    text-decoration: line-through;
    font-weight: 700;
    font-size: 1rem;
    color: hsl(220, 14%, 75%);
}

.section-product__quantity-container {
    grid-area: 9 / 1 / 10 / 4;
    display: flex;
    justify-content: space-between;
    background-color: hsl(223, 64%, 98%);
    padding: 0 5px;
    border-radius: 10px;
}

.section-product__current-quantity {
    margin: auto auto;
    text-align: center;
    font-weight: 700;
}

.section-product__current-quantity:hover {
    cursor: default;
}

.section-product__quantity-add-btn,
.section-product__quantity-remove-btn {
    height: 100%;
    display: flex;
    align-items: center;
    color:hsl(26, 100%, 55%);
    padding: 0 10px;
}

.section-product__quantity-add-btn path,
.section-product__quantity-remove-btn path {
    fill: currentColor;
}

.section-product__quantity-add-btn:hover,
.section-product__quantity-remove-btn:hover {
    cursor: pointer;
    color: hsl(26, 97%, 72%);
}

.quantity-btn--disabled {
    color: hsl(220, 14%, 75%) !important;
}

.quantity-btn--disabled path {
    fill: currentColor;
}

.quantity-btn--disabled:hover {
    cursor: default !important;
}

.section-product__add-to-cart-btn {
    grid-area: 9 / 4 / 10 / 11;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    font-size: 1rem;
    margin: 0 20px;
    padding: 0;
}

.section-product__cart-img path {
    fill: currentColor;
}

.section-product__add-to-cart-btn:hover {
    cursor: pointer;
    background-color: hsl(26, 97%, 72%);
}

.section-product__add-to-cart-btn,
.section-product__quantity-add-btn,
.section-product__quantity-remove-btn {
    transition: all ease-in-out 0.1s;
}

/* ---MEDIA QUERIES--- */
@media only screen and (max-width: 1200px) {
    .cart-container {
        width: 100vw;
    }

    .cart {
        margin-right: 20px;
    }
}

@media only screen and (max-width: 1020px) {
    .section-product__prev-price {
        grid-area: 8 / 1 / 9 / 3;
    }

    .section-product__discount {
        grid-area: 7 / 4 / 8 / 5;
    }
}

@media only screen and (max-width: 865px) {
    html {
        font-size: 14px;
    }

    .nav__logo {
        grid-area: 1 / 1 / 2 / 4;
    }

    .nav__links {
        grid-area: 1 / 4 / 2 / 11;
    }
}

@media only screen and (max-width: 768px) {
    /* -NAVIGATION- */
    .nav {
        height: 80px;
        margin-bottom: 20px; 
    }

    .nav__hamburger-btn {
        grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 5px;
        color: hsl(219, 9%, 45%);
    }

    .nav__close-btn {
        display: block;
        margin: 35px 20px 40px 20px;
        color: hsl(219, 9%, 45%);
    }

    .nav__hamburger-btn path,
    .nav__close-btn path {
        fill: currentColor;
    }

    .nav__hamburger-btn:hover,
    .nav__close-btn:hover {
        cursor: pointer;
        color: hsl(220, 13%, 13%);
    }

    .nav__dark-overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: hsla(0, 0%, 0%, 0.75);
        opacity: 0;
        z-index: 9;
        transition: opacity 0.3s ease-out 0.1s;
    }
    
    .nav__links {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: hsl(0, 0%, 100%);
        position: absolute;
        top: 0;
        left: -220px;
        width: 220px;
        height: 100vh;
        z-index: 10;
        transition: left 0.3s ease-out 0.1s;
    }

    .nav__links--open-hamburger {
        left: 0;
    }

    .nav__link {
        font-weight: 700;
        font-size: 1.2rem;
        color:hsl(220, 13%, 13%);
        height: auto;
        margin: 10px 20px;
    }

    .nav__logo {
        grid-area: 1 / 2 / 2 / 10;
    }

    .nav__cart {
        grid-area: 1 / 10 / 2 / 12;
    }

    .nav__avatar {
        width: 35px;
        height: 35px;
    }

    /* -PRODUCT SECTION- */
    .section-product {
        grid-template: repeat(2, 1fr) / 1fr;
    }

    .section-product__gallery {
        grid-area: 1 / 1 / 2 / 2;
    }

    .section-product__img-large {
        height: 400px;
        width: auto;
        max-width: 100vw;
        margin: 0 auto 20px auto;
    }

    .section-product__img-large:hover {
        cursor: default;
    }

    .section-product__thumbnails {
        width: 400px;
    }

    .section-product__info-container {
        grid-area: 2 / 1 / 3 / 2;
        grid-template: repeat(9, 1fr) / repeat(10, 1fr);
        width: auto;
        margin: 10px 20px;
    }

    .section-product__manufacturer {
        grid-area: 1 / 1 / 2 / 11;
    }

    .section-product__product-name {
        grid-area: 2 / 1 / 4 / 11;
        margin: auto 0;
    }

    .section-product__product-info {
        grid-area: 4 / 1 / 6 / 11;
        margin: 0;
        font-size: 1.2rem;
    }

    .section-product__price {
        grid-area: 6 / 1 / 7 / 3;
    }

    .section-product__discount {
        grid-area: 6 / 2 / 7 / 4;
    }

    .section-product__prev-price {
        grid-area: 7 / 1 / 8 / 2;
    }

    .section-product__quantity-container {
        grid-area: 8 / 1 / 9 / 4;
    }

    .section-product__add-to-cart-btn {
        grid-area: 8 / 4 / 9 / 11;
    }
}

@media only screen and (max-width: 580px) {
    .section-product__discount {
        grid-area: 6 / 3 / 7 / 4;
    }
}

@media only screen and (max-width: 425px) {
    html {
        font-size: 12px;
    }

    .nav {
        margin: 0;
    }

    .cart {
        margin: 0 2.5vw;
        width: 95vw;
    }

    .cart__title,
    .cart__item,
    .cart__checkout-btn {
        width: 80vw;
    }

    .cart__title,
    .cart__item-name,
    .cart__item-amount,
    .cart__item-price,
    .cart__total-price,
    .cart__checkout-btn, 
    .cart__alt-text {
        font-size: 1.2rem;
    }

    .section-product {
        grid-template: repeat(5, 1fr) / 1fr;
    }

    .section-product__gallery {
        grid-area: 1 / 1 / 3 / 2; 
        display: grid;
        grid-template: repeat(5, 1fr) / repeat(3, 1fr);
    }
    
    .section-product__thumbnails {
        display: none;
    }

    .section-product__prev-btn,
    .section-product__next-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:hsl(0, 0%, 100%);
        border-radius: 20px;
        width: 40px;
        height: 40px;
        color: hsl(220, 13%, 13%);
        z-index: 3;
    }

    .section-product__prev-btn path,
    .section-product__next-btn path {
        stroke: currentColor;
    }

    .section-product__prev-btn {
        grid-area: 3 / 1 / 4 / 2;
        margin: auto auto auto 10px;
    }

    .section-product__next-btn {
        grid-area: 3 / 3 / 4 / 4;
        margin: auto 10px auto auto;
    }

    .section-product__prev-btn:hover,
    .section-product__next-btn:hover {
        cursor: pointer;
        color: hsl(26, 100%, 55%);
    }

    .section-product__img-large {
        grid-area: 1 / 1 / 6 / 4;
        border-radius: 0;
        width: 100vw;
        height: auto;
        margin: 0 0 auto 0;
    }

    .section-product__img-large {
        cursor: default;
    }

    .section-product__info-container {
        grid-area: 3 / 1 / 6 / 2;
        margin: 0 20px;
    }

    .section-product__manufacturer {
        align-items: flex-end;
        font-size: 1rem;
    }

    .section-product__product-info {
        line-height: 1.8rem;
    }

    .section-product__discount {
        grid-area: 6 / 3 / 7 / 5;
    }

    .section-product__prev-price {
        grid-area: 6 / 10 / 7 / 11;
        margin: auto 0;
    }

    .section-product__quantity-container {
        grid-area: 7 / 1 / 8 / 11;
        height: 55px;
        margin: 0;
        padding: 0;
        font-size: 1.2rem;
    }

    .section-product__quantity-add-btn,
    .section-product__quantity-remove-btn {
        padding: 0 20px;
    }

    .section-product__add-to-cart-btn {
        grid-area: 8 / 1 / 9 / 11;
        height: 55px;
        margin: 0 0;
        padding: 0;
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 375px) {
    .section-product__discount {
        grid-area: 6 / 4 / 7 / 5;
    }

    .section-product__add-to-cart-btn {
        grid-area: 8 / 1 / 10 / 11;
        margin: 10px 0 auto 0;
    }
}

@media only screen and (max-width: 320px) {
    .section-product__discount {
        grid-area: 6 / 4 / 7 / 6;
    }
}